.gallery_item {
  margin-left: 30px;
  margin-top: 30px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery_item:hover {
  transform: scale(1.03);
  cursor: zoom-in;
}

.gallery_image {
  object-fit: cover;
}
